h1.nadpis{
	 color: green;
	 font-family: 'Mali', cursive;
	 font-weight: bold;
	}
/*nadpis jidelnicek*/
.zarovnani{
		text-align: center;
}
/*zarovnani cele sekce v jumbotronu na stred*/
.pozadi{
	background-image: url("cooking.jpg");
	width: 1280px;
	height: 720px;
	margin-left: auto;
	margin-right: auto;
}
.jumbotron{
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	text-align: center;
}
/*obrazek budu davat pres css kdyz ho chci prepsat v bootstrapu*/

.paragraf1a2{
	color: black;
	font-family: 'Mali', cursive;
	font-weight: bold;
}
.generuj{
	color: white;
	font-family: 'Mali', cursive;
}