h1.nadpis{
	 color: green;
	 font-family: 'Mali', cursive;
	 font-weight: bold;
	}
/*nadpis jidelnicek*/
.zarovnani{
		text-align: center;
}
/*zarovnani cele sekce v jumbotronu na stred*/
/*jidelnicek2 potřebuje to backround size - cover, ostatní naopak width a height, ale pak to není responzivní všude, musí být ještě nějaké řešení... případně na jídelníček2 může být i nákupní seznam na bílém pozadí ne na obrázku a vypadá to v poho */
.pozadi{
  background-image: url("cooking.jpg");
	background-size: cover;
	/*width: 1280px;
	height: 720px;*/
	/*height: 100%;*/
	margin-left: auto;
	margin-right: auto;
}
/*.jumbotron{
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	text-align: center;
}*/
/*obrazek budu davat pres css kdyz ho chci prepsat v bootstrapu*/

.paragraf1a2{
	color: black;
	font-family: 'Mali', cursive;
	font-weight: bold;
	margin-top: 0px; 
	margin-bottom: 0px;
}
/*Pismo tlačítek na generování nebo přechod na recept*/
.generuj{
	color: white;
	font-family: 'Mali', cursive;
}
/*Pismo pouzite v karte receptu*/
.karta{
	color: black;
	font-family: 'Mali', cursive;
}
/*Pismo pouzite ve vyctu ingredienci receptu*/
.ingredience{
	color: black;
	font-family: 'Calibri', cursive;
}
/*velikost vsech obrazků receptů*/
.obrazekreceptu{
  height: 8rem;
}
/*aby byla stejná velikost všech obrázků receptů v pětidenním výčtu*/
.zarovnaniingredienci{
	text-align: left;
}
/*podtrzeni napisu Budete potrebovat a Nakupni seznam*/
.podtrzeni{
	text-decoration: underline;
	text-decoration-style: solid;
}
/*podbarvení nákupního seznamu, aby byl čitelný, barva jako v kartách receptů snad*/
.pozadinakupseznamu{
	background-color: rgb(255, 253, 253);
}
.nakupniseznam{
	text-align: left;
	margin-left: 25%;
}