<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
		<title>TÝDENÍČEK</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>


		<link rel="stylesheet" href="/static/style.css" />

		<link href="https://fonts.googleapis.com/css?family=Mali" rel="stylesheet">

		<style>
		h1.ex1 {
				margin: 90px 70px 50px;
		
		}
		</style>

	</head>
<body background="/static/cooking.jpg" class="pozadi">

<div class="container zarovnani">

	<h1 class="display-5 nadpis ex1">Naplánujte si jídelníček na příští týden!</h1>
	<hr class="my-4">
	<p class="paragraf1a2">Vybírejte pomocí tlačítka Chci jiné recepty, dokud nebudete spokojeni se svým jídelníčkem.</p>
	<p class="paragraf1a2">Zaškrtněte suroviny, které doma nemáte a musíte je dokoupit.</p>
	<p class="paragraf1a2">Vytvořte si nákupní seznam, pomocí tlačítka Chci vidět nákupní seznam.</p>
	<br>
	<p class="paragraf1a2">A pak už jen stačí uvařit a nechat si chutnat! :-)</p>
	<br>
	<a class="btn btn-success generuj" href="{{ url_for('jidelnicek_plan') }}" role="button">Chci jiné recepty!</a>

<!-- filtry
	<div class="input-group">
			<select class="custom-select" id="inputGroupSelect04" aria-label="Example select with b	<option selected>Choose...</option>
			utton addon">
				<option value="1">One</option>
				<option value="2">Two</option>
				<option value="3">Three</option>
			</select>
			<div class="input-group-append">
				<button class="btn btn-outline-secondary" type="button">Filter receptů</button>
			</div>
	</div> -->
<br>
<br>
<div class="row card-deck">

	<div class="card karta bg-light" style="width: 20rem;"> 
			<img class="card-img-top img-fluid obrazekreceptu" src="{{ recept1.foto }}" alt="Card image cap">
			<div class="card-body">
				<h5 class="card-title">{{ recept1.title }}</h5>
				<p class="card-text ingredience podtrzeni">Budete potřebovat:</p>
				<!-- vypis ingredienci -->
					<div class="zarovnaniingredienci ingredience">
							
					<!--		<form method="post" input type="hidden" name="recept1" value="{{ ingre11 }}"> -->
								{%  for ing in ingre11 %}
									<label><input type="checkbox" name="ingred1" value="{{ing}}"> {{ing}}</label>	</br>
								{% endfor %}							
							
					</div>
				<a href="{{ recept1.url }}"  target="_blank"button type="button" class="btn btn-success" >Zobrazit recept</a>
			</div>
		</div>

<br>
<br>
<br>
<br>

<div class="card karta bg-light" style="width: 20rem;"> 
		<img class="card-img-top img-fluid obrazekreceptu" src="{{ recept2.foto }}" alt="Card image cap">
		<div class="card-body">
			<h5 class="card-title">{{ recept2.title }}</h5>
			<p class="card-text ingredience podtrzeni">Budete potřebovat:</p>
			<!-- vypis ingredienci -->
				<div class="zarovnaniingredienci ingredience">
						
							{%  for ing in ingre21 %}
								<label><input type="checkbox" name="ingred2" value="{{ing}}"> {{ing}}</label>	</br>
							{% endfor %}							
						
				</div>
			<a href="{{ recept2.url }}"  target="_blank"button type="button" class="btn btn-success" >Zobrazit recept</a>
		</div>
	</div>

<br>
<br>
<br>
<br>

<div class="card karta bg-light" style="width: 20rem;"> 
		<img class="card-img-top img-fluid obrazekreceptu" src="{{ recept3.foto }}" alt="Card image cap">
		<div class="card-body">
			<h5 class="card-title">{{ recept3.title }}</h5>
			<p class="card-text ingredience podtrzeni">Budete potřebovat:</p>
			<!-- vypis ingredienci -->
				<div class="zarovnaniingredienci ingredience">
					
							{%  for ing in ingre31 %}
								<label><input type="checkbox" name="ingred3" value="{{ing}}"> {{ing}}</label>	</br>
							{% endfor %}							
						
				</div>
			<a href="{{ recept3.url }}"  target="_blank"button type="button" class="btn btn-success" >Zobrazit recept</a>
		</div>
	</div>

<br>
<br>
<br>
<br>

<div class="card karta bg-light" style="width: 20rem;"> 
		<img class="card-img-top img-fluid obrazekreceptu" src="{{ recept4.foto }}" alt="Card image cap">
		<div class="card-body">
			<h5 class="card-title">{{ recept4.title }}</h5>
			<p class="card-text ingredience podtrzeni">Budete potřebovat:</p>
			<!-- vypis ingredienci -->
				<div class="zarovnaniingredienci ingredience">
						
				<!--		<form method="post" input type="hidden" name="recept1" value="{{ ingre11 }}"> -->
							{%  for ing in ingre41 %}
								<label><input type="checkbox" name="ingred4" value="{{ing}}"> {{ing}}</label>	</br>
							{% endfor %}							
						
				</div>
			<a href="{{ recept4.url }}"  target="_blank"button type="button" class="btn btn-success" >Zobrazit recept</a>
		</div>
	</div>

<br>
<br>
<br>
<br>

<div class="card karta bg-light" style="width: 20rem;"> 
		<img class="card-img-top img-fluid obrazekreceptu" src="{{ recept5.foto }}" alt="Card image cap">
		<div class="card-body">
			<h5 class="card-title">{{ recept5.title }}</h5>
			<p class="card-text ingredience podtrzeni">Budete potřebovat:</p>
			<!-- vypis ingredienci -->
				<div class="zarovnaniingredienci ingredience">
						
							{%  for ing in ingre51 %}
								<label><input type="checkbox" name="ingred5" value="{{ing}}"> {{ing}}</label>	</br>
							{% endfor %}							
						
				</div>
			<a href="{{ recept5.url }}"  target="_blank"button type="button" class="btn btn-success" >Zobrazit recept</a>
		</div>
	</div>


<br>
</div>
<br>
<br>
<br>
<br>
<div>

		
<div class="" style="width: 25rem; margin:auto">
	<div class="pozadinakupseznamu">
		<h3 class="paragraf1a2 podtrzeni">Nákupní seznam</h3>		
		<div class="checkbox nakupniseznam">
				{% for ing in formingred1 %} 
				<li> {{ing}}</li> <br>
				{% endfor %} 
			
		</div>
	</div>
			<br>
			<br>
			<a class="btn btn-success generuj" href="{{ url_for('jidelnicek_plan') }}" role="button">Generuj nové recepty!</a>
			<br>
			<br>


<!--<ul class="list-group">
		<li class="list-group-item">Jedna ingredience</li>
		<li class="list-group-item">Druhá ingredience</li>
		<li class="list-group-item">Třetí ingredience</li>
		<li class="list-group-item">Čtvrtá ingredience</li>
		<li class="list-group-item">Pátá ingredience</li>
	</ul>-->

	</div>

	

</div>

</body>
</html>
