<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
		<title>JÍDELNÍČEK</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>


		<link rel="stylesheet" href="/static/style.css" />

		<link href="https://fonts.googleapis.com/css?family=Mali" rel="stylesheet">

	</head>
<body >

<!--<h2>Návod, jak pracovat s jídelníčkem + uz vygenerovana tabulka</h2>-->
<!-- tabulky nahoře má být recept, pak ingredience a pod tim go to recept na webu a mají být vedle sebe což nevim jak udělam a stejně to nevypadá jako tabulka viz zde, jak to má vypadat:http://getbootstrap.com/docs/4.1/components/card/ -->

<!--je treba roztáhnout ten obrázek v pozadí na celé-->

<div class="jumbotron zarovnani pozadi">

	<h1 class="display-4 nadpis">Vygenerujte si recepty dle Vašeho přání!</h1>
	<p class="lead paragraf1a2">Vyfiltrujte si kategorii receptů, ze kterých chcete mít sestavený jídelníček.</p>
	<hr class="my-4">
	<p class="paragraf1a2">Až si vyberete, zda byste rádi recepty na hlavní jídlo, nebo raději dezerty, stiskněte Generuj recepty - a pak už jen stačí uvařit a nechat si chutnat!</p>

	<div class="input-group">
			<select class="custom-select" id="inputGroupSelect04" aria-label="Example select with b	<option selected>Choose...</option>
			utton addon">
				<option value="1">One</option>
				<option value="2">Two</option>
				<option value="3">Three</option>
			</select>
			<div class="input-group-append">
				<button class="btn btn-outline-secondary" type="button">Filter receptů</button>
			</div>
	</div>
<br>
<a class="btn btn-success generuj" href="#" role="button">Generuj recepty!</a>

<br>
<br>
<br>
<br>
<div class="row card-deck">

<div class="card karta bg-light" style="width: 20rem;"> 
	<img class="card-img-top img-fluid" src=".../100px180/" alt="Card image cap">
	<div class="card-body">
		<h5 class="card-title">Název receptu</h5>
		<p class="card-text">Budete potřebovat:</p>
		<a href="#" button type="button" class="btn btn-success">Zobrazit recept</a>
	</div>
</div>

<br>
<br>
<br>
<br>

<div class="card karta bg-light" style="width: 20rem;">
		<img class="card-img-top" src=".../100px180/" alt="Card image cap">
		<div class="card-body">
			<h5 class="card-title">Název receptu</h5>
			<p class="card-text">Budete potřebovat:</p>
			<a href="#" button type="button" class="btn btn-success">Zobrazit recept</a>
		</div>
	</div>

<br>
<br>
<br>
<br>

<div class="card karta bg-light" style="width: 20rem;">
		<img class="card-img-top" src=".../100px180/" alt="Card image cap">
		<div class="card-body">
			<h5 class="card-title">Název receptu</h5>
			<p class="card-text">Budete potřebovat:</p>
			<a href="#" button type="button" class="btn btn-success">Zobrazit recept</a>
		</div>
	</div>

<br>
<br>
<br>
<br>

<div class="card karta bg-light" style="width: 20rem;">
		<img class="card-img-top" src=".../100px180/" alt="Card image cap">
		<div class="card-body">
			<h5 class="card-title">Název receptu</h5>
			<p class="card-text">Budete potřebovat:</p>
			<a href="#" button type="button" class="btn btn-success">Zobrazit recept</a>
		</div>
	</div>

<br>
<br>
<br>
<br>

<div class="card karta bg-light" style="width: 20rem;">
		<img class="card-img-top" src=".../100px180/" alt="Card image cap">
		<div class="card-body">
			<h5 class="card-title">Název receptu</h5>
			<p class="card-text">Budete potřebovat:</p>
			<a href="#" button type="button" class="btn btn-success">Zobrazit recept</a>
		</div>
	</div>

<br>
</div>
<!--Vygeneruje seznam receptu-->
<br>
<br>
<br>
<br>
<div>

<div class="">
		<h3>Nákupní seznam</h3>		
<div class="checkbox">
		<label><input type="checkbox" value="">První ingredience</label>
			</div>
			<div class="checkbox">
				<label><input type="checkbox" value="">Druhá ingredience</label>
			</div>
			<div class="checkbox disabled">
				<label><input type="checkbox" value="">Třetí ingredience</label>
			</div> 
			<div class="checkbox disabled">
				<label><input type="checkbox" value="">Čtvrtá ingredience</label>
			</div> 
			<div class="checkbox disabled">
				<label><input type="checkbox" value="">Pátá ingredience</label>
			</div> 
			<div class="checkbox disabled">
				<label><input type="checkbox" value="">Šestá ingredience</label>
			</div> 
			<div class="checkbox disabled">
				<label><input type="checkbox" value="">Sedmá ingredience</label>
			</div> 

<!--Dole pod tímto mám hozené další možnosti jak udělat nákupní seznam, ale checkbox mi nedovoluje checknout víc jak jednu ingredienci a ještě to není srovnané pořádně-->

<!--<ul class="list-group">
		<li class="list-group-item"><label for="yes"><input type="radio" id="yes" name="vyberingredience" value="yes"></label></li>
		<li class="list-group-item"><label for="yes"><input type="radio" id="yes" name="vyberingredience" value="yes"></label></li>
		<li class="list-group-item"><label for="yes"><input type="radio" id="yes" name="vyberingredience" value="yes"></label></li>
		<li class="list-group-item"><label for="yes"><input type="radio" id="yes" name="vyberingredience" value="yes"></label></li>
		<li class="list-group-item"><label for="yes"><input type="radio" id="yes" name="vyberingredience" value="yes"></label></li>
	</ul>-->

<!--<ul class="list-group">
		<li class="list-group-item">Jedna ingredience</li>
		<li class="list-group-item">Druhá ingredience</li>
		<li class="list-group-item">Třetí ingredience</li>
		<li class="list-group-item">Čtvrtá ingredience</li>
		<li class="list-group-item">Pátá ingredience</li>
	</ul>-->

	</div>

	{% for rec in recept %}
	<li>{{rec}}</li>
	{% endfor %}

</div>

</div>

<!--Vygeneruje seznam receptu - v image bude foto receptu, pod tím název, pod tím potřebné ingredience a pod tím odkaz přes tlačítko na web fitrecepty a tam je recept-->


</body>
</html>
